@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    Emirates House
    167 Eagle Street
    Brisbane
    QLD 4000
    AUSTRALIA
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@thesolutioncollective.com.au">Our Ever Attendive Support Team</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@thesolutioncollective.com.au">Our Super Enthusiastic Marketing Manager</a>
</address>